.label {
  padding: 2px 4px;
  display: inline-block;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  opacity: 1;
}

.selected {
  opacity: 0.6;
}

.label + .label {
  margin-left: 12px;
}
