.recentList {
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0px;
}

.title {
  font-weight: bold;
} 
.viewAll {
  font-weight: bold;
}