.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  flex: 0 0 auto;
}

.container {
  display: flex;
  flex-flow: column;
  height: 100vh;
  overflow: hidden;
}

.main {
  overflow: auto;
  flex: 1 1 auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem !important;
}

@media screen and (max-width: 2560px) {
  .main, .header {
    padding: 0rem 16rem;
  }
}

@media screen and (max-width: 1440px) {
  .main, .header {
    padding: 0rem 9rem;
  }
}

@media screen and (max-width: 1024px) {
  .main, .header {
    padding: 0rem 6rem;
  }
}

@media screen and (max-width: 768px) {
  .main, .header {
    padding: 0rem 3rem;
  }
}

@media screen and (max-width: 425px) {
  .main, .header {
    padding: 0rem 1.5rem;
  }
}

